.recommend {
  padding: 54px;
}

.recommend__title {
  width: 30rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  border-bottom: 5px solid black;
}

.recommend__content {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(4, 1fr);
}
